*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    text-align: center;
    font-family: sans-serif;
    background-color: rgb(36, 30, 126);
}
.card{
    height: 70vh;
    width: 35vw;
    border-radius: 25px;
    margin: auto;
    box-shadow: 4px 4px 4px rgb(0, 0, 0),
                -4px -4px 4px #000;
    background-color: #091921;
}
input{
    color: white;
    font-weight: 800;

    border: none;
    background-color: #000;
    font-size: 30px;
    height: 45px;
    text-align: center;
    width: 450px;
    outline: none;
}
button{
    outline: none;
    width: 350px;
    background-color: #000;
    color: #fff;
    font-weight: 850;
    border: 2px solid white;
    box-shadow: 4px 4px 4px #fff,
                -4px -4px 8px #fff;
    font-size: 35px;
    height: 45px;
}
.result{
    font-size: 25px;
    color: white;
    font-weight: 850;
    margin: auto;
    height: 175px;
    margin-top: 35px;
    width: 450px;
    border-radius: 15px;
    background-color: #091921;
}
